//Common Sass mixins

/* Mixin to drop micro clearfix into a selector.
*
* .simple-usage {
*   @include clearfix();
* }
*
* .detailed-usage {
*   @include clearfix(important);
* }
*/

@mixin clearfix($important: false) {

    // Determine whether or not to make declarations important.
    @if ($important == false) {
        $important: null;
    } @else {
        $important: !important;
    }

    &:after {
        content: "" $important;
        display: table $important;
        clear: both $important;
    }

}

// Modified version of Harry Roberts' width mixin.
// https://github.com/csswizardry/discovr/blob/master/css/_trumps.widths.scss

// A mixin to spit out our width classes. Pass in the total number of columns 
// we want to have, and an optional suffix for responsive widths. The widths are
// output as the lowest expression of a fraction, e.g. 1/2 instead of 3/6.

@function gcd($a, $b) {
    // Returns the greatest common denominator.
    @if($b == 0) {
         @return $a;
    }

    @return gcd($b, $a % $b);
}

@mixin widths($total, $breakpoint: '', $important: false) {
    // Loop through each column
    @for $i from 1 through $total - 1 {
        $gcd: gcd($i, $total);
        $numerator: $i/$gcd;
        $denominator: $total/$gcd;
        
        // Build a class in the format `.u-3/4.
        .col--#{$numerator}\/#{$denominator}#{$breakpoint} {
            @if ($important == false){
                width: $i/$total * 100%;
            } @else {
                width: $i/$total * 100% !important;
            } 
        }
    }
}

// Custom Breakpoints
@mixin respond-to-max($width) {
    @if $fix-mqs {
        @if $fix-mqs <= $width {
            @content;
        }
    } @else {
        @media screen and (max-width: $width) {
            @content;
        }
    }
}

@mixin respond-to-min($width) {
    @if $fix-mqs {
        @if $fix-mqs >= $width {
            @content;
        }
    } @else {
        @media screen and (min-width: $width) {
            @content;
        }
    }
}

@mixin respond-min-max($width--min, $width--max) {
    @if $fix-mqs {
        @if $fix-mqs >= $width--min and $fix-mqs <= $width--max {
            @content;
        }
    } @else {
        @media screen and (min-width: $width--min) and (max-width: $width--max) {
            @content;
        }
    }
}

$old-ie-7: false !default;
$old-ie-8: false !default;

@mixin old-ie-7 {
    // Only use this content if we're dealing with old IE
    @if $old-ie-7 {
        @content;
    }
}
@mixin old-ie-8 {
    // Only use this content if we're dealing with old IE
    @if $old-ie-8 {
        @content;
    }
}



// Generate a font-size and baseline-compatible line-height.

@mixin font-size($font-size, $line-height: auto) {
    font-size: $font-size;
    font-size: ($font-size / $base-font-size) * 1rem;

    @if $line-height == auto {
        line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }

    @else {

        @if (type-of($line-height) == number or $line-height == inherit or $line-height == normal) {
            line-height: $line-height;
        }

        @elseif ($line-height != none and $line-height != false) {
            @warn "D’oh! ‘#{$line-height}’ is not a valid value for `line-height`."
        }

    }

}

// fonts
@mixin font($name, $file, $weight: normal) {

    @font-face {
        font-family: $name;
        src: url($fontUrl + $file + '.eot');
        src: url($fontUrl + $file + '.eot?#iefix') format('embedded-opentype'),
            url($fontUrl + $file + '.woff') format('woff'),
            url($fontUrl + $file + '.ttf') format('truetype'),
            url($fontUrl + $file + '#' + $name) format('svg');
        font-weight: $weight;
        font-style: normal;
    }
}

// clearfix
@mixin clearfix {
    &:before, &:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
    &:after { clear: both; }
    zoom: 1;
}

// transition

@mixin transition {
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    transition:all 0.3s ease;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform-style: preserve-3d;
}

@mixin placeholder {
    
    ::-webkit-input-placeholder {
        @content;
    }
  :-moz-placeholder           {@content;}
  ::-moz-placeholder          {@content;}
  :-ms-input-placeholder      {@content;}  
}

@mixin pageGradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,ffffff+53 */
background: #f4f4f4; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #f4f4f4 0%, #ffffff 53%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(53%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f4f4f4 0%,#ffffff 53%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f4f4f4 0%,#ffffff 53%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f4f4f4 0%,#ffffff 53%); /* IE10+ */
background: linear-gradient(to bottom,  #f4f4f4 0%,#ffffff 53%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

}
