@model Web.UI.ViewModels.AnalyseViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Analyze</title>
</head>
<body>
	<div>
		<p>@Model.xml</p>
	</div>
</body>
</html>
