@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
		<link rel="stylesheet"type="text/css" href="../_build/styles/main.css" />
    <title>Index</title>
</head>

<body>
		
	<header class="header">

		<h1>Chars in their eyes</h1>

	</header>
 
</body>
</html>
