//owl carousel styles

.owl-carousel {
  @include respond-to-min($small){
    margin-bottom: remify(-51px);
    z-index: 1;
  }
}

.owl-controls{
    position: relative;
    top: -50px; 
    text-align: right !important; //!important overrides owl carousel default styling

    @media (max-width:$small){
      top: 0;
      text-align: center !important; //!important overrides owl carousel default styling

      .owl-page{
        width: 50%;
      }
    }
  }

  .owl-page {
    background: $lightGrey;
    padding: 15px 20px;
    display: inline-block;
    zoom: 1;

    &:first-of-type{
    border-radius: 2px 0 0 0;
    padding: 16px 20px 14px;
    position: relative;
    //top:-1px; // fixes spacing error


    @media (max-width:$small){
      border-radius: 0 0 0 2px;
    }

  }

    &:nth-of-type(2){
    border-radius: 0  2px 0 0;

    @media (max-width:$small){
      border-radius: 0 0 2px 0;
    }
  }
  span {
    margin: 0;
    font-size: 0.85em;
  }
  
  &.active{
    background-color: $grey;
    
    span{
      color: $white;
    }
    
    .hero-carousel__george-title{
      background-position: 0 -23px;
    }
    
    &:hover {
      .hero-carousel__george-title {
        background-position: 0 0;
      }
    }
  }
  
  &:hover{
    background: $green !important; //!important overrides owl carousel default styling
    span{
      color: $grey;
    }
  }
  
}