//components - grid

.grid {
    display: inline-block;
    width: 90%;
    margin: 20px 5%;
	position: relative;

	&__strip {
		display: inline-block;
		width: 33.3%;
		margin-right: -4px;
		background: rebeccapurple;
	}

	&__item {
		background-color: red;
		width: 92%;
		height: 120px;
		margin: 4%;
		padding: 0;
		float: left;
		position: relative;
		overflow: hidden;
		animation: example 2s linear;

		&-image {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		&:hover:before {
			//content: '';
			background-color: cyan;
			display: inline-block;
			width: 100%;
			height: 120px;
			opacity: 0.5;
			display: none;
		}

		&--large {
			height: 240px;
			background-color: darkblue;

			&:hover:before {
				//content: '';
				background-color: cyan;
				display: inline-block;
				width: 100%;
				height: 240px;
				opacity: 0.5;
			}
		}
	}
}

@keyframes example {
    0% { transform: rotateY(60deg); }
	50% { transform: rotateY(0deg); }
}
