//components - autodesk

.adsk-viewing-viewer {
	//I was forced to use this
	height: 50%!important;
	width: 94%!important;
	margin: 70px 3%;
	overflow: hidden;  
    top: 0;  
	left: 0;
}

.close-btn {
	width: 30px;
	height: 25px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;

	&:before, &:after {
		content: '';
		background-color: $c-white;
		width: 25px;
		height: 4px;
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 5px;
	}

	&:before {
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}

	&:after {
		-webkit-transform: rotateZ(-45deg);
		-moz-transform: rotateZ(-45deg);
		-ms-transform: rotateZ(-45deg);
		-o-transform: rotateZ(-45deg);
		transform: rotateZ(-45deg);
	}

	&:hover:before, &:hover:after {
		background-color: $c-green;
	}
}