//components - grid

.grid {
    display: inline-block;
    width: 94%;
    margin: 20px 3%;
	position: relative;

	&__strip {
		display: inline-block;
		width: 33.3%;
		margin-right: -4px;
	}

	&__item {
		background-color: $c-green;
		width: 92%;
		height: 120px;
		margin: 4%;
		padding: 0;
		float: left;
		//position: relative;
		overflow: hidden;
		box-shadow: 1px 1px 2px $c-background-black;
		animation: loadGrid 2s linear;

		&-image {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		&--large {
			height: 240px;
			background-color: darkblue;
		}
	}
}

@keyframes loadGrid {
    0% { transform: rotateY(60deg); }
	50% { transform: rotateY(0deg); }
}
