//Global variables
/* link colors */
$c-linkBtnBg: 			      		$green; // Button background color
$c-linkBtn:		      				$grey; // Button text color

$c-linkBtnBg-hover:         		$grey; // Hover bg color
$c-linkBtnColor-hover:		  		$white; // Hover btn text color

$c-link:             				$green; // Text link color
$c-link-hover:       				$grey; // Link hover color
$c-link-visited:					$grey; // Link visited color

$row-divider: 						20px;

$fontUrl: 							'../fonts/';

$fix-mqs: 							false !default;
$old-ie: 							false !default;