//buttons and link colors

$linkBtnBg: 			      	$green; // Button background color
$linkBtnColor:		      		$grey; // Button text color

$linkBtnBg-hover:         		$grey; // Hover bg color
$linkBtnColor-hover:		  	$white; // Hover btn text color

$color-link:             		$green; // Text link color
$color-link-hover:        		$grey; // Link hover color

$georgeLinkBg-hover:			$yellow;

$tagBtnColor:					$blue;
$promotedBtnColor:				$red;
