//Brand Colors

$green: 						#78BE20; 
$greenDark: 					#69A417;
$grey: 							#222;
$lightGrey: 					#f4f4f4;
$white: 						#fff;
$yellow: 						#FFCD00;
$blue: 							#005EB8;
$black:							#000;
$red:							#ed1c16;

$c-body-copy:					$black;
$fullwidthBg:					$lightGrey;
$bannerAdBg:					#f70000;
$placeholder:					#ccc;
$error:							$red;