//generic page styles
.main { 
	position: relative;
	z-index: 1;
}
.section {
	margin: remify(20px) 0;
	position: relative;
	z-index: 2;
}

.section__title {
	text-align: center;
}

@include placeholder { 
	color: $placeholder;
	font-size: remify(13px);
}

.fullwidth--highlight {
	background: $fullwidthBg;
}

.fullwidth--gradient {
	@include pageGradient;
}
